{
	debug
}

:8888

inspect

route {
	route {
		request_header +Extra-header "Extra values"
		header +My-header "Some header value"
		rewrite /sample/* /sample/secondrequest
		inspect
	}
	inspect
	respond "Hello from caddy server"
}
