:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --border-color: #ddd;
  --button-bg-color: #007bff;
  --button-hover-bg-color: #0056b3;
  --button-active-bg-color: #004085;
  --button-danger-color: #c73636;
  --button-hover-danger-color: #a62d2d;
  --calm-color: #7e7e7e;
  --input-focus-border-color: #007bff;
  --input-focus-shadow-color: rgba(0, 123, 255, 0.5);
  --snippet-highlight-color: rgba(150, 150, 150, 0.5);
}

.logo {
  content: url("/assets/logo-light.svg");
  height: 30px;
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #ffffff;
    --border-color: #333;
    --button-bg-color: #1a73e8;
    --button-hover-bg-color: #135ba1;
    --button-active-bg-color: #0e447a;
    --button-danger-color: #a0222f;
    --button-hover-danger-color: #881c28;
    --calm-color: #7e7e7e;
    --input-focus-border-color: #1a73e8;
    --input-focus-shadow-color: rgba(26, 115, 232, 0.5);
    --snippet-highlight-color: rgba(150, 150, 150, 0.5);
  }

  .logo {
    content: url("/assets/logo-dark.svg");
  }

}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.inspect {
  padding: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

button:active {
  background-color: var(--button-active-bg-color);
  transform: translateY(1px);
}

button.danger {
  background-color: var(--button-danger-color);
}

button.danger:hover {
  background-color: var(--button-hover-danger-color);
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--textarea-bg-color);
  color: var(--text-color);
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--input-focus-border-color);
  box-shadow: 0 0 4px var(--input-focus-shadow-color);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  font-size: 20px;
  color: var(--text-color);
}
